$gray = #c7c3be
$gray0 = #f2f1ed
$gray1 = #eae9e7
$gray2 = #c7c3be
$gray4 = #454442
$gray7 = #e4e3e0
$darkBorder = $gray
$lightBorder = $gray0
$boxShadow = 0 0 3px $darkBorder
$marketingGrayLight = #f8f7f1
$linkDarkTeal = #385455
$lightAction = #35968a
$placeholderText = #c7c3be
$primaryFont = 'AvenirNextLTPro-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif
$softBackground = #fefdf9
$typeGrayDark = #524e47
$typeGrayLight = #7c7975
$action = #3e9287
