
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em;margin:.67em 0}
h2{font-size:1.5em;margin:.83em 0}
h3{font-size:1.17em;margin:1em 0}
h4{font-size:1em;margin:1.33em 0}
h5{font-size:.83em;margin:1.67em 0}
h6{font-size:.75em;margin:2.33em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1em 40px}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
p,pre{margin:1em 0}
code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}
pre{white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:before,q:after{content:none}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
dl,menu,ol,ul{margin:1em 0}
dd{margin:0 0 0 40px}
menu,ol,ul{padding:0 0 0 40px}
nav ul,nav ol{list-style:none;list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}

.vs-sticky{z-index:99;position:relative}
.vs-sticky.vs-sticky-stuck{z-index:98;position:fixed;width:100%}

@import url("http://hello.myfonts.net/count/275ebe");
@font-face{font-family:'AvenirNextLTPro-Demi';src:url("../assets/font/275EBE_0_0.eot");src:url("../assets/font/275EBE_0_0.eot?#iefix") format('embedded-opentype'),url("../assets/font/275EBE_0_0.woff") format('woff'),url("../assets/font/275EBE_0_0.ttf") format('truetype')}
@font-face{font-family:'AvenirNextLTPro-Regular';src:url("../assets/font/275EBE_1_0.eot");src:url("../assets/font/275EBE_1_0.eot?#iefix") format('embedded-opentype'),url("../assets/font/275EBE_1_0.woff") format('woff'),url("../assets/font/275EBE_1_0.ttf") format('truetype')}

html{overflow-x:hidden}
body{font:12px 'AvenirNextLTPro-Regular','Helvetica Neue',Helvetica,Arial,sans-serif;word-wrap:break-word;-webkit-user-select:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
html,button,input,select,textarea{font-family:'AvenirNextLTPro-Regular','Helvetica Neue',Helvetica,Arial,sans-serif}
.loadingCourse{display:none;text-align:center;width:100%;height:30px;font-size:30px;position:absolute;top:50%;margin-top:-15px;}
.loadingCourse .icon-spin{margin-right:20px;height:auto;width:auto;line-height:30px}
.loading{display:none}
button{font-size:12px;text-align:center;font-weight:bold;-webkit-border-radius:2px;border-radius:2px;background:#7c7975;border:0;color:#fff;padding:10px 20px;}
button:hover{background:#6f6c69}
button:active{background:#625f5c}

.gadget-column-gadget{background-color:#f5f5f5;padding:20px;font-family:Helvetica,sans-serif;}
.gadget-column-gadget h2{margin:0;padding:0;background-color:#ccc;padding:10px;text-align:center}
.gadget-column-gadget .column{float:left;margin:15px;width:50%;padding:10px;box-sizing:border-box;border:5px solid #ccc;margin:0;border-radius:5px}

.assets-modal{width:750px;margin-left:-375px;min-height:490px;}
.assets-modal .addAsset{position:absolute;top:0;left:0;width:100%;height:100%;display:none;background-color:#fff;padding:20px;}
.assets-modal .addAsset section{margin-bottom:20px}
.assets-modal .addAsset label{display:inline-block;width:200px}
.assets-modal .addAsset button,.assets-modal .addAsset input,.assets-modal .addAsset textarea{width:300px;font-size:20px}
.assets-modal .fileInput{display:none}
.assets-modal .form-actions{background:none;border:none}
.assets-modal .controls{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.assets-modal .controls .filters{display:inline-block;margin:0;}
.assets-modal .controls .filters li{display:inline-block;margin:0;position:relative;}
.assets-modal .controls .filters li input:checked + label{background-color:#eee}
.assets-modal .controls .search{height:auto;width:100%;margin:0;padding:4px 10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:inline-block}
.assets-modal .controls .searchRow.row{margin-left:0}
.assets-modal .controls button{width:120px;margin:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:inline-block}
.assets-modal .controls label{display:inline}
.assets-modal .controls .filterBy{padding-top:10px}
.assets-modal .browse{padding:0;position:relative;margin-top:15px;background-color:#f0f0f0;overflow-y:auto;-webkit-box-shadow:inset 0 1px 4px 0 rgba(0,0,0,0.3);-webkit-box-shadow:inset 0 1px 4px 0 rgba(0,0,0,0.3);box-shadow:inset 0 1px 4px 0 rgba(0,0,0,0.3);-webkit-border-radius:3px;border-radius:3px;}
.assets-modal .browse .assets{margin:0;padding:15px;list-style:none;height:310px;}
.assets-modal .browse .assets .asset{width:130px;height:130px;background-color:#fff;overflow:hidden;text-align:center;cursor:pointer;display:inline-block;vertical-align:middle;margin:10px;border:6px solid #fff;line-height:130px;-webkit-box-shadow:0 0 3px 0 rgba(0,0,0,0.2);-webkit-box-shadow:0 0 3px 0 rgba(0,0,0,0.2);box-shadow:0 0 3px 0 rgba(0,0,0,0.2);}
.assets-modal .browse .assets .asset .title{background-color:#57585f;color:#fff;padding:5px;position:relative;top:-45px;width:100%;display:block;height:35px;line-height:2em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
.assets-modal .browse .assets .asset img{max-height:130px;vertical-align:middle}
.assets-modal .browse .assets .asset:hover img{opacity:.8;filter:alpha(opacity=80);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";-webkit-transition:opacity .2s linear;-moz-transition:opacity .2s linear;-o-transition:opacity .2s linear;-ms-transition:opacity .2s linear;transition:opacity .2s linear}
.assets-modal .browse .assets .asset:hover .title{opacity:.8;filter:alpha(opacity=80);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";-webkit-transition:opacity .2s linear;-moz-transition:opacity .2s linear;-o-transition:opacity .2s linear;-ms-transition:opacity .2s linear;transition:opacity .2s linear}
.assets-modal .browse .assets:after{display:block;height:15px;width:100%;content:' '}

.authorSidebar .hidden{display:none}
.authorSidebar .ui-sortable-helper{width:715px !important;padding-left:0;-webkit-box-shadow:0 0 10px 0 rgba(0,0,0,0.5);box-shadow:0 0 10px 0 rgba(0,0,0,0.5);-webkit-transition:box-shadow 300ms ease-in-out;-moz-transition:box-shadow 300ms ease-in-out;-o-transition:box-shadow 300ms ease-in-out;-ms-transition:box-shadow 300ms ease-in-out;transition:box-shadow 300ms ease-in-out;padding-right:0;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1);cursor:move;cursor:-moz-grabbing;cursor:-webkit-grabbing;cursor:grabbing;}
.authorSidebar .ui-sortable-helper .content{background-color:#fff}
.authorSidebar .pull-right{text-align:right;padding:10px;}
.authorSidebar .pull-right .lastSaved{color:#a9acb1;font-size:11px;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.authorSidebar .pull-right button.publish{padding:2px 7px;font-size:12px;background:#486b6d;color:#fff;border:0;margin-bottom:3px;}
.authorSidebar .pull-right button.publish:hover{background:#385455}
.authorSidebar .pull-right button.publish:active{background:#283d3d}
.authorSidebar .addSection{border:1px dashed #a9acb1;text-align:center;font-size:18px;background-color:#fff;padding:7px;margin:8px 10px;cursor:move}
.authorSidebar .search-outer{margin:5px 10px;}
.authorSidebar .search-outer .search{font:13px 'AvenirNextLTPro-Regular','Helvetica Neue',Helvetica,Arial,sans-serif;width:250px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:5px 10px;height:auto;margin:0;background:#fff url("../assets/img/authorSidebar/icon_search.png") 96% center no-repeat;}
.authorSidebar .search-outer .search::-webkit-input-placeholder,.authorSidebar .search-outer .search::-moz-placeholder,.authorSidebar .search-outer .search:-ms-input-placeholder{font-style:italic}
.authorSidebar .card-options{padding:3px 10px;}
.authorSidebar .card-options .marketplace-link{padding-top:6px;color:#a9acb1;cursor:pointer;}
.authorSidebar .card-options .marketplace-link:hover{opacity:.8;filter:alpha(opacity=80);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"}
.authorSidebar .card-options .tiny-arrow-icon{background-image:url("../assets/img/authorSidebar/icon_tiny_arrow.png");width:6px;height:6px;display:inline-block}
.authorSidebar .card-options .view-modes{list-style:none;padding:0;margin:0;}
.authorSidebar .card-options .view-modes li{margin:0;padding:0;line-height:1;display:inline-block}
.authorSidebar .card-options .view-modes i{height:13px;width:18px;margin:4px;display:inline-block;cursor:pointer}
.authorSidebar .card-options .view-modes .list-view{background-image:url("../assets/img/authorSidebar/icon_list_active.png");}
.authorSidebar .card-options .view-modes .list-view.inactive{background-image:url("../assets/img/authorSidebar/icon_list_normal.png")}
.authorSidebar .card-options .view-modes .list-view:active{background-image:url("../assets/img/authorSidebar/icon_list_pressed.png")}
.authorSidebar .card-options .view-modes .tile-view{background-image:url("../assets/img/authorSidebar/icon_thumb_active.png");}
.authorSidebar .card-options .view-modes .tile-view.inactive{background-image:url("../assets/img/authorSidebar/icon_thumb_normal.png")}
.authorSidebar .card-options .view-modes .tile-view:active{background-image:url("../assets/img/authorSidebar/icon_thumb_pressed.png")}
.authorSidebar .gadgetCards{list-style:none;padding:0 6px 0 6px;}
.authorSidebar .gadgetCards.tile-view .gadgetCard{width:52px;display:inline-block;margin:2px;}
.authorSidebar .gadgetCards.tile-view .gadgetCard> .author,.authorSidebar .gadgetCards.tile-view .gadgetCard> .title,.authorSidebar .gadgetCards.tile-view .gadgetCard> .version{display:none}
.authorSidebar .gadgetCards.tile-view .gadgetCard .icon{margin-bottom:0}
.authorSidebar .gadgetCards.list-view{overflow-x:hidden;overflow-y:auto;}
.authorSidebar .gadgetCards.list-view .gadgetCard{display:block;margin-bottom:10px;}
.authorSidebar .gadgetCards.list-view .gadgetCard .icon{margin-right:8px;float:left;margin-bottom:0}
.authorSidebar .gadgetCards.list-view .gadgetCard .version{position:absolute;bottom:5px;right:8px;font-size:12px;color:#ccc}
.authorSidebar .gadgetCards.list-view .expansion{display:none}
.authorSidebar .gadgetCards .hidden{display:none}
.authorSidebar .gadgetCards .atom.ui-sortable-helper{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1);cursor:move;cursor:-moz-grabbing;cursor:-webkit-grabbing;cursor:grabbing;}
.authorSidebar .gadgetCards .atom.ui-sortable-helper .bar{opacity:1;-ms-filter:none;filter:none}
.authorSidebar .gadgetCards .atom.ui-sortable-helper .content{background-color:#fff}
.authorSidebar .gadgetCards .header{display:none;margin:0 5px;padding:10px 0;line-height:1;}
.authorSidebar .gadgetCards .header.approved{margin-top:20px;border-top:1px solid #a9acb1;padding-top:20px}
.authorSidebar .gadgetCards .gadgetCard{margin:3px;border:1px dashed #a9acb1;background-color:#fff;padding:3px;position:relative;cursor:move;}
.authorSidebar .gadgetCards .gadgetCard.dragging{cursor:move}
.authorSidebar .gadgetCards .gadgetCard .expansion{width:180px;position:absolute;top:-1px;right:-180px;background-color:#fff;z-index:1000;height:100%;height:-webkit-calc(100% + 2px);height:-moz-calc(100% + 2px);height:-o-calc(100% + 2px);height:-ms-calc(100% + 2px);height:calc(100% + 2px);overflow:hidden;-webkit-transition:all 200ms ease-in-out;padding:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:1px dashed #a9acb1;border-left:0;}
.authorSidebar .gadgetCards .gadgetCard .expansion .stars{position:absolute;bottom:42px;}
.authorSidebar .gadgetCards .gadgetCard .expansion .stars .star{color:#ff7404}
.authorSidebar .gadgetCards .gadgetCard .expansion .dropdown{position:absolute;bottom:8px;padding:5px 12px;font-size:13px;background-color:#a0a766;-webkit-border-radius:3px;border-radius:3px;color:#fff;text-shadow:rgba(0,0,0,0.3) 0 1px;}
.authorSidebar .gadgetCards .gadgetCard .expansion .dropdown i{margin-left:7px}
.authorSidebar .gadgetCards .gadgetCard:not(.expanded) .expansion{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";width:0;right:0}
.authorSidebar .gadgetCards .gadgetCard .icon{width:52px;height:52px;background-color:#add8e6;-webkit-background-size:52px 52px;-moz-background-size:52px 52px;background-size:52px 52px;margin-bottom:9px;border:0;-webkit-box-shadow:inset 0 1px 0 0 rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 1px 0 0 rgba(0,0,0,0.1);box-shadow:inset 0 1px 0 0 rgba(0,0,0,0.1);background-position:center center;background-repeat:no-repeat;}
.authorSidebar .gadgetCards .gadgetCard .icon.greenbg{background-color:#99cc34}
.authorSidebar .gadgetCards .gadgetCard .icon.orangebg{background-color:#e67600}
.authorSidebar .gadgetCards .gadgetCard .icon.bluebg{background-color:#69cadc}
.authorSidebar .gadgetCards .gadgetCard .icon.pinkbg{background-color:#bd2957}
.authorSidebar .gadgetCards .gadgetCard .icon.graybg{background-color:#464751}
.authorSidebar .gadgetCards .gadgetCard .title{color:#464751;line-height:1;font-size:14px;font-family:'AvenirNextLTPro-Regular','Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:6px;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis}
.authorSidebar .gadgetCards .gadgetCard .author{color:#c1c5cb;line-height:1;margin-top:3px;margin-bottom:4px;font-size:12px;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis}

.toc-icon{width:24px;height:24px;display:block;position:absolute;left:22px;top:15px;background:url("../assets/img/toc.png") no-repeat;cursor:pointer;opacity:.7;filter:alpha(opacity=70);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";}
.toc-icon:hover,.toc-icon.active{opacity:1;-ms-filter:none;filter:none}
.courseHeader{position:fixed;width:100%;display:block;width:750px;height:56px;border-bottom:1px solid #a9acb1;background:#fff;z-index:500;}
.courseHeader .headerContent{margin-left:58px}
.course{position:absolute;left:271px;top:0;}
.course .bottomHalf{clear:both;margin-top:22px;margin-bottom:-4px !important;margin-left:0;position:relative;}
.course .bottomHalf:hover .toolbar:not(.blocked) li:first-child{opacity:1;-ms-filter:none;filter:none}
.course .courseTitleWrapper{min-width:13px;padding:2px 0;border:1px solid transparent;float:left;height:11px;margin:6px 0 0 0;}
.course .courseTitleWrapper .title{color:#333;line-height:11px;margin:1px 0 0 1px;font-size:11px;float:left}
.course.editable .lessonTitleWrapper,.course.editable .courseTitleWrapper{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.course.editable .lessonTitleWrapper.blocked:hover:not(.editing),.course.editable .courseTitleWrapper.blocked:hover:not(.editing){border:1px solid transparent}
.course.editable .lessonTitleWrapper:hover:not(.editing),.course.editable .courseTitleWrapper:hover:not(.editing){border:1px dashed #b0b3b8}
.course.editable .lessonTitleWrapper.editing,.course.editable .courseTitleWrapper.editing{border:1px dashed #999ca1;-webkit-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;user-select:auto}
.course.editable> .navbar-fixed-top{left:271px}
.course .lessonTitleWrapper,.course .courseTitleWrapper{padding:2px 0 1px 0;border:1px solid transparent;display:inline-block;position:relative;}
.course .lessonTitleWrapper .fade-out,.course .courseTitleWrapper .fade-out{display:block;position:absolute;top:0;left:0;height:100%;width:700px;pointer-events:none;-webkit-box-shadow:inset -25px 0 20px -10px #fff;box-shadow:inset -25px 0 20px -10px #fff;}
html.no-pointerevents .course .lessonTitleWrapper .fade-out,html.no-pointerevents .course .courseTitleWrapper .fade-out{display:none}
.course .lessonTitleWrapper .courseTitle,.course .courseTitleWrapper .courseTitle{font:12px 'AvenirNextLTPro-Regular','Helvetica Neue',Helvetica,Arial,sans-serif}
.course .lessonTitleWrapper .lessonTitle,.course .courseTitleWrapper .lessonTitle{font:18px 'AvenirNextLTPro-Regular','Helvetica Neue',Helvetica,Arial,sans-serif;display:inline-block}
.course .lessonTitleWrapper .lessonTitle,.course .courseTitleWrapper .lessonTitle,.course .lessonTitleWrapper .courseTitle,.course .courseTitleWrapper .courseTitle{color:#333;margin:0;padding:0;overflow-x:hidden;max-width:700px;white-space:nowrap;min-width:20px;min-height:1em;}
.course .lessonTitleWrapper .lessonTitle.placeholder:after,.course .courseTitleWrapper .lessonTitle.placeholder:after,.course .lessonTitleWrapper .courseTitle.placeholder:after,.course .courseTitleWrapper .courseTitle.placeholder:after{content:attr(placeholder);color:#ccc;cursor:default}
.course .lessonTitleWrapper .lessonTitleEditable,.course .courseTitleWrapper .lessonTitleEditable{height:14px}
.course .newLesson{margin-left:5px;margin-top:3px;cursor:hand;cursor:pointer;background:#d6d6d6;display:inline-block;text-align:center;vertical-align:center;width:18px;height:18px;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
.course.editable .newLesson{opacity:1;-ms-filter:none;filter:none}
.course .lastSaved{float:left;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
.course.editable .lastSaved{opacity:1;-ms-filter:none;filter:none;font-size:13px;color:#bbb;font-style:italic;position:absolute;top:0;right:20px;line-height:50px}
.course .lessonControls{padding:0;margin:0;list-style-type:none;float:right;}
.course .lessonControls li{display:inline-block;cursor:pointer;width:25px;height:25px;background-position:center;background-repeat:no-repeat;}
.course .lessonControls li.disabled{cursor:default;opacity:.6;filter:alpha(opacity=60);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"}
.course .lessonControls li.search{background-image:url("../assets/img/title_bar/icon_search_normal.png")}
.course .lessonControls li.fav{background-image:url("../assets/img/title_bar/icon_fav_normal.png")}
.course .lessonControls li.overview{background-image:url("../assets/img/title_bar/icon_icicles_normal.png")}
.course .lessonControls li.more{background-image:url("../assets/img/title_bar/icon_more_normal.png")}
.course .lessonControls li:hover:not(.disabled){opacity:.8;filter:alpha(opacity=80);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"}
.course .lessonControls li.more{border-left:1px solid #ccc;padding-left:10px;margin-left:10px}
.course .completion{display:none;position:absolute;right:0;top:-5px;}
.course .completion button{margin-left:10px;margin-top:-4px}
@media (max-width: 1024px){.course:not(.editable){left:0}
}@media (min-width: 1025px){.course:not(.editable) .headerContent{margin-left:21px !important}
.course:not(.editable) .toc-icon{display:none}
}*:focus{outline:none}

.authorableWrapper p{margin:0;padding:0}
.authorableWrapper{position:relative;padding:0 !important;margin:0}
.authorablePlaceholder{position:absolute;left:0;top:0;z-index:0}
.authorablePlaceholder{color:#ccc}
.authorableWrapper{border:1px solid transparent}
.emptyAuthorable{border:1px dashed #ccc}
.authorableContent:focus{outline:none}
.sectionList .authorableWrapper{margin-left:15px}
.currentLesson.authorableContent{margin-left:0}
.levelOne .authorableContent{border:1px dashed transparent}
.levelOne .authorableContent:hover{border:1px dashed #ccc}
.levelOne .authorableWrapper.emptyAuthorable{border:1px solid transparent !important}

.gadget{position:relative;margin-left:20px;margin-bottom:20px;}
.gadget .gadgetContent{border:1px dashed #fff;padding:2px;overflow:hidden;position:relative}
.course.editable .gadget .gadgetContent{border:1px dashed #fff}
.course.editable .gadget:hover:not(.editing) .toolbar:not(.blocked) li:first-child{opacity:1 !important;-ms-filter:none;filter:none}
.course.editable .gadget:hover:not(.editing) .gadgetContent:not(.blocked){-webkit-transition:300ms ease-in;-moz-transition:300ms ease-in;-o-transition:300ms ease-in;-ms-transition:300ms ease-in;transition:300ms ease-in;border:1px dashed #b0b3b8}
.course.editable .gadget.editing .gadgetContent:not(.blocked){-webkit-transition:300ms ease-in;-moz-transition:300ms ease-in;-o-transition:300ms ease-in;-ms-transition:300ms ease-in;transition:300ms ease-in;border:1px dashed #999ca1}
.gadget:last-of-type{margin-bottom:0}
.toolbar{position:absolute;top:-4px;left:-20px;width:25px;height:90px;list-style-type:none;padding:0;margin:0;}
.course:not(.editable) .toolbar{display:none}
.toolbar li{width:21px;height:20px;margin:10 auto;-webkit-transition:all 300ms ease-in;-moz-transition:all 300ms ease-in;-o-transition:all 300ms ease-in;-ms-transition:all 300ms ease-in;transition:all 300ms ease-in;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";position:absolute;background-position:center !important;}
.toolbar li.drag{cursor:move}
.toolbar li.disabled{display:none}
.toolbar.dragging li,.toolbar.dragging:hover li{opacity:0 !important;filter:alpha(opacity=0) !important;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important}
.toolbar.dragging .drag{cursor:move}
.toolbar{cursor:pointer;}
.toolbar .drag{background:url("../assets/img/railicons/menu-normal.png") no-repeat;height:20px;z-index:5;}
.toolbar .drag:hover{background:url("../assets/img/railicons/menu-hover.png") no-repeat}
.toolbar .drag:active{background:url("../assets/img/railicons/menu-pressed.png") no-repeat}
.toolbar .edit{background:url("../assets/img/railicons/edit-normal.png") no-repeat;height:20px;}
.toolbar .edit:hover{background:url("../assets/img/railicons/edit-hover.png") no-repeat}
.toolbar .edit:active{background:url("../assets/img/railicons/edit-pressed.png") no-repeat}
.toolbar .add{background:url("../assets/img/railicons/add-normal.png") no-repeat;height:23px;}
.toolbar .add:hover{background:url("../assets/img/railicons/add-hover.png") no-repeat}
.toolbar .add:active{background:url("../assets/img/railicons/add-pressed.png") no-repeat}
.toolbar .delete{background:url("../assets/img/railicons/delete-normal.png") no-repeat;height:20px;}
.toolbar .delete:hover{background:url("../assets/img/railicons/delete-hover.png") no-repeat}
.toolbar .delete:active{background:url("../assets/img/railicons/delete-pressed.png") no-repeat}
.toolbar:hover:not(.dragging) li,.editing .toolbar li{opacity:1 !important;-ms-filter:none;filter:none;z-index:15}
.toolbar:hover:not(.dragging) .edit,.editing .toolbar .edit{top:20px}
.toolbar:hover:not(.dragging) .add,.editing .toolbar .add{top:40px}
.toolbar:hover:not(.dragging) .delete,.editing .toolbar .delete{top:40px}
.toolbar:hover li{opacity:1;-ms-filter:none;filter:none}
.editing .toolbar .edit{background:url("../assets/img/railicons/edit-pressed.png") no-repeat center}
.toolbar.blocked{visibility:hidden !important}

.inlineCatalogue h2{background:none;text-align:left;font-size:20px;}
.inlineCatalogue h2 button{float:right;margin-top:5px}
.inlineCatalogue ul{list-style:none;margin:0;padding:0;border-bottom:1px solid #ccc;}
.inlineCatalogue ul li{margin:0;padding:8px;background:#fff;cursor:pointer;position:relative;border:1px solid #ccc;border-bottom:0;height:52px;}
.inlineCatalogue ul li:after{clear:both}
.inlineCatalogue ul li:hover{opacity:.8}
.inlineCatalogue ul li *{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.inlineCatalogue ul li .icon{height:52px;width:52px;float:left;margin-right:10px}
.inlineCatalogue ul li .title{font:14px 'AvenirNextLTPro-Regular','Helvetica Neue',Helvetica,Arial,sans-serif;color:#464751}
.inlineCatalogue ul li .author{font-size:12px;color:#c1c5cb}
.inlineCatalogue ul li .version{position:absolute;bottom:5px;right:8px;font:12px 'AvenirNextLTPro-Regular','Helvetica Neue',Helvetica,Arial,sans-serif;color:#ccc}

@media (max-width: 1024px){.learnerSidebar{display:none}
}.learnerSidebar ul.lesson-list{list-style:none;margin:0;padding:0;}
.learnerSidebar ul.lesson-list li.lesson{margin:0;padding:10px;border-bottom:1px solid #ccc;background:#fff;font-size:13px;overflow-x:hidden;white-space:nowrap;text-overflow:ellipsis;cursor:pointer;transition:background 200ms ease-in-out;}
.learnerSidebar ul.lesson-list li.lesson:hover{background:#f3f3f3}
.learnerSidebar ul.lesson-list li.lesson:active{background:#e9e9e9}
.learnerSidebar ul.lesson-list li.lesson.active-lesson{font-weight:bold}
.learnerSidebar ul.lesson-list li.lesson.disabled-lesson{cursor:default;background:#ddd}

.course .lessons{position:relative;margin:62px 0 0 0;width:750px;-webkit-user-select:text;user-select:text;font-family:Georgia,serif;font-size:16px;line-height:28px}

.modal{z-index:6001}
.modal-header h3{line-height:1em;margin:.4em 0 0}
.modal-backdrop{z-index:6000;background-color:rgba(0,0,0,0.4)}

.nav{margin:0;}
.nav .nav-buttons{padding:20px 0 20px 20px;}
.nav .nav-buttons a{color:#aaa;cursor:pointer;padding:8px;position:relative;}
.nav .nav-buttons a:hover{text-decoration:none}
.nav .nav-buttons a i{display:inline-block;-webkit-background-size:8px 15px;-moz-background-size:8px 15px;background-size:8px 15px;height:15px;width:8px;position:relative;top:4px}
.nav .nav-buttons .previous-button{float:left;left:-8px}
.nav .nav-buttons .previous-button i{background-image:url("../assets/img/nav_arrows/arrow_left_normal.png")}
.nav .nav-buttons .previous-button:hover i{background-image:url("../assets/img/nav_arrows/arrow_left_hover.png")}
.nav .nav-buttons .previous-button:active i{background-image:url("../assets/img/nav_arrows/arrow_left_active.png")}
.nav .nav-buttons .next-button,.nav .nav-buttons .finish-button{float:right;left:8px}
.nav .nav-buttons .next-button i,.nav .nav-buttons .finish-button i{background-image:url("../assets/img/nav_arrows/arrow_right_normal.png")}
.nav .nav-buttons .next-button:hover i,.nav .nav-buttons .finish-button:hover i{background-image:url("../assets/img/nav_arrows/arrow_right_hover.png")}
.nav .nav-buttons .next-button:active i,.nav .nav-buttons .finish-button:active i{background-image:url("../assets/img/nav_arrows/arrow_right_active.png")}
.nav .nav-buttons .finish-button i{margin-left:10px}

ul.timeline{list-style:none;padding:0;position:relative}
ul.timeline li{display:inline-block}
.scrubBar{z-index:1;position:fixed;bottom:0;right:0;left:280px;background-color:#f7f7f7;border-bottom:1px solid #ccc;-moz-box-shadow:0 1px 5px #dfdfdf;-webkit-box-shadow:0 1px 5px #dfdfdf;box-shadow:#e0e0e0 0 0 15px;border-top:2px solid #e7e7e7;opacity:0}
.line{height:2px;width:335px;background-color:#555;position:absolute;margin-top:8px;z-index:-10;-webkit-transition:all 150ms ease-in-out;-moz-transition:all 150ms ease-in-out;-ms-transition:all 150ms ease-in-out;-o-transition:all 150ms ease-in-out;transition:all 150ms ease-in-out}
.line2{height:2px;width:1000px;background-color:#d3d5d7;position:absolute;margin-top:8px;z-index:-12}
.scrubOne{width:1000px;margin-left:auto;margin-right:auto;margin-top:13px;}
.scrubOne .placeMark{-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;width:11px;height:11px;background-color:#555;-webkit-transition:all 150ms ease-in-out;-moz-transition:all 150ms ease-in-out;-ms-transition:all 150ms ease-in-out;-o-transition:all 150ms ease-in-out;transition:all 150ms ease-in-out;cursor:pointer;position:absolute;top:4px;left:0%;}
.scrubOne .placeMarkhover{background-color:#555}
.scrubOne .placeMark.active{top:-1px;margin-left:-6px;width:16px;height:16px;border:1px solid #333;box-shadow:0 0 0 3px #f7f7f7 inset,0 0 5px #ccc}
.scrubOne .placeMark.dimmer{background-color:#d3d5d7}
.miniPreview{background:#fdfdfd;border:1px solid #ddd;border-radius:5px;bottom:40px;display:none;float:left;font-weight:bold;left:-100px;max-height:1200px;padding:5px 0;position:relative;text-align:center;width:200px;}
.miniPreview .lesson{position:relative !important;transform:none !important;-webkit-transform:none !important}

.properties-dialog{position:absolute;top:3px;width:250px;left:-272px;margin-left:-8px;border:1px solid #ccc;background-color:#fff;box-shadow:0 0 10px 0 rgba(0,0,0,0.5);z-index:900;}
.properties-dialog .properties-dialog-arrow{position:absolute;width:0;height:0;top:9px;right:-8px;margin-top:6px;border-top:6px solid transparent;border-bottom:6px solid transparent;border-left:8px solid #f4f4f4}
.properties-dialog .properties-dialog-header{font:16px 'AvenirNextLTPro-Regular','Helvetica Neue',Helvetica,Arial,sans-serif;padding:10px;background-color:#f4f4f4}
.properties-dialog fieldset{margin:0;padding:10px;border:none}
.properties-dialog label{font:14px 'AvenirNextLTPro-Regular','Helvetica Neue',Helvetica,Arial,sans-serif}
.properties-dialog input,.properties-dialog textarea,.properties-dialog select,.properties-dialog .bbf-radio,.properties-dialog .bbf-checkboxes,.properties-dialog .bbf-date,.properties-dialog .bbf-datetime{font:14px 'AvenirNextLTPro-Regular','Helvetica Neue',Helvetica,Arial,sans-serif;margin-bottom:0}
.properties-dialog .bbf-field{margin-bottom:15px;}
.properties-dialog .bbf-field:last-child{margin-bottom:5px}
.properties-dialog .bbf-field{position:relative;}
.properties-dialog .bbf-field > label{font-weight:bold}
.properties-dialog .bbf-field .bbf-editor > ul{list-style:none;margin:0;padding:0;}
.properties-dialog .bbf-field .bbf-editor > ul label{display:inline-block;margin-left:8px;line-height:20px;width:200px;vertical-align:top}
.properties-dialog .bbf-date select,.properties-dialog .bbf-datetime select{display:inline;width:auto;margin:0}
.properties-dialog .bbf-datetime .bbf-date{margin-bottom:5px}
.properties-dialog .input-color-color{width:15px;padding:2px 4px}
.properties-dialog .input-color-text{width:170px;margin-left:10px}
.properties-dialog .sp-replacer{vertical-align:text-bottom;}
.properties-dialog .sp-replacer .sp-preview{margin:0;width:15px}
.properties-dialog .sp-replacer .sp-dd{display:none}
.properties-dialog .clayer-slider{margin-left:5px;padding:15px 0}
.properties-dialog .clayer-slider-knob-value{font:11px 'AvenirNextLTPro-Regular','Helvetica Neue',Helvetica,Arial,sans-serif;width:50px;margin-left:-19px;text-align:center;margin-top:-15px;color:#999ca1}
.properties-dialog .bbf-error-tooltip-container{position:absolute;top:50%;left:230px;width:700px;margin-top:-20px;display:none}
.properties-dialog .bbf-error .bbf-error-tooltip-container{display:block}
.properties-dialog .properties-dialog-error-count{display:inline-block;float:right;font-family:$baseFontFamily;font-size:10pt;padding:3px 10px;margin-top:-2px;color:#fff;background-color:#c80e07;border-radius:2px}

.gadgetContent.section-header{font:18px 'AvenirNextLTPro-Regular','Helvetica Neue',Helvetica,Arial,sans-serif;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:8px 0;background-color:#fff;}
.gadgetContent.section-header.vs-sticky-stuck{background-color:rgba(255,255,255,0.9);width:730px}
.gadgetContent.section-header .section-content{overflow-x:hidden;white-space:nowrap;}
.gadgetContent.section-header .section-content:empty{min-height:1em}
.gadgetContent.section-header .section-fadeout{position:absolute;top:0;right:0;height:100%;width:30px;background:-webkit-gradient(linear, left top, right top, color-stop(0, rgba(255,255,255,0)), color-stop(0.75, #fff));background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 75%);background:-moz-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 75%);background:-o-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 75%);background:-ms-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 75%);background:linear-gradient(left, rgba(255,255,255,0) 0%, #fff 75%)}

.authorSidebar,.learnerSidebar{width:270px;position:fixed;z-index:800;left:0;top:0;height:100%;background-color:#fefdf9;color:#464751;font-size:12px;border-right:1px solid #a9acb1;}
.authorSidebar .section,.learnerSidebar .section{border-bottom:1px solid #a9acb1;}
.authorSidebar .section.first,.learnerSidebar .section.first{height:56px}
.authorSidebar .section .sidebarHeader,.learnerSidebar .section .sidebarHeader{float:left;margin:10px 0 0 3px}
.authorSidebar .versal-logo,.learnerSidebar .versal-logo{cursor:pointer;display:block;height:30px;width:30px;float:left;margin:13px;background-image:url("../assets/img/logo.png");background-size:30px 30px}

.tagbox{width:220px;}
.tagbox ul li .tag{font:13px/20px 'AvenirNextLTPro-Regular','Helvetica Neue',Helvetica,Arial,sans-serif;background-color:#d8dadc}
.tagbox ul li.new input,.tagbox ul li.new input:focus{font:14px/20px 'AvenirNextLTPro-Regular','Helvetica Neue',Helvetica,Arial,sans-serif}
.tagbox ul li:hover .tag{color:#f4f4f4;background-color:#b0b3b8}
.tagbox ul li:hover .delete{color:#f4f4f4}
.tagbox ul li.selected .tag{color:#f4f4f4;background-color:#999ca1}
.tagbox ul li.selected .delete{color:#f4f4f4}
.autocomplete li{font:13px/20px 'AvenirNextLTPro-Regular','Helvetica Neue',Helvetica,Arial,sans-serif}
.autocomplete li.selected,.autocomplete li.over{background-color:#999ca1;color:#f4f4f4}

.toc{border:1px solid #ccc;position:fixed;top:55px;display:none;width:450px;z-index:200;background:#fff;margin:1px 0 0 -1px;-webkit-box-shadow:0 0 10px rgba(0,0,0,0.2);box-shadow:0 0 10px rgba(0,0,0,0.2);}
.toc ul{padding:0;margin:0}
.toc li{font-size:16px;padding:0;margin:0;border-bottom:1px solid #eee;list-style:none;background:#fff;line-height:34px;height:35px;overflow:hidden;position:relative;cursor:default;}
.toc li i{visibility:hidden;vertical-align:middle}
.toc li:hover i{visibility:visible}
.toc li input{position:absolute;vertical-align:top;border:0;outline:none;cursor:default;background:#fafaf0;width:450px;line-height:32px;height:32px;text-indent:21px;z-index:201}
.toc li input[readonly]{cursor:pointer;background:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.toc li input:focus{cursor:text}
.toc li .handle{width:16px;height:34px;display:inline-block;margin-right:5px;cursor:move;background:url("../assets/img/toc/handle.png") no-repeat 5px 10px;margin:1px;position:absolute;left:0;z-index:202}
.toc li .lesson-fade{width:32px;height:34px;background:-webkit-gradient(linear, left top, right top, color-stop(0, rgba(255,255,255,0)), color-stop(0.5, #fff));background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 50%);background:-moz-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 50%);background:-o-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 50%);background:-ms-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 50%);background:linear-gradient(left, rgba(255,255,255,0) 0%, #fff 50%);z-index:202;display:block;position:absolute;right:0;top:0;text-align:right;visibility:visible}
.toc li .delete-icon{width:16px;height:16px;display:block;position:absolute;right:0;top:12px;background:url("../assets/img/toc/cross.png") no-repeat;cursor:pointer;z-index:203}
.toc li:hover{background:#f6f8fa}
.toc li.selected{background:#fafaf0}
.toc li.disabled-lesson{background:#ddd;}
.toc li.disabled-lesson:hover{background:#ddd}
.toc li.disabled-lesson .lesson-fade{display:none}
.toc li.disabled-lesson input{color:#888;cursor:default}
.toc li.create-lesson{color:#ccc;cursor:pointer;text-indent:21px;border:0;line-height:34px}
.student li{cursor:pointer;text-indent:21px}
.student li:last-child{border:0}
.animated{-webkit-animation-duration:.5s;-moz-animation-duration:.5s;-o-animation-duration:.5s;-ms-animation-duration:.5s;animation-duration:.5s;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-o-animation-fill-mode:both;-ms-animation-fill-mode:both;animation-fill-mode:both}
.flash{-webkit-animation-name:flash;-moz-animation-name:flash;-o-animation-name:flash;-ms-animation-name:flash;animation-name:flash}
@-moz-keyframes flash{0%,100%{background:#f6f8fa}
50%{background:#daf6dd}
}@-webkit-keyframes flash{0%,100%{background:#f6f8fa}
50%{background:#daf6dd}
}@-o-keyframes flash{0%,100%{background:#f6f8fa}
50%{background:#daf6dd}
}@-ms-keyframes flash{0%,100%{background:#f6f8fa}
50%{background:#daf6dd}
}@keyframes flash{0%,100%{background:#f6f8fa}
50%{background:#daf6dd}
}
